// шрифты 
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&family=PT+Sans&display=swap');

// Шрифт по-умолчанию
$font-family: 'Nunito','Arial',sans-serif;

// обнуление, общие параметры
@import 'null.scss';

// переменные цвета 
$primary-color: #f7f7f7;
$colorTitle: #000;
$colorText: #353738;
$colorElem: #ffae19;

body { 
  height: 100%; 
  font-size: 14px; 
  font-family: 'Nunito', 'Arial', sans-serif;
  color:#fff;
}

////// preloader
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #000;
  z-index: 100;
  &__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 180px;
    margin-top: -90px;
    margin-left: -90px;
    background: url('../img/loading.gif') 50% 50% no-repeat;
  }
}
.loaded_hiding .preloader{
    transition: 0.3s opacity;
    opacity: 0;
}
.loaded .preloader{
  display: none;
}

 // Оболочка
.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  position: absolute;
}

.container {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0 auto;
}

.page{ 
  display: flex;
  position: absolute;
  text-align:center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;  
  flex-direction: column;
}
.main-screen {
  flex: 1 0 100%;
  position: relative;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  img {
    display: none;
  }
}
.header{
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 5%, rgba(0, 0, 0, 0.65) 8%, rgba(0, 0, 0, 0.04) 95%, rgba(0, 0, 0, 0.01) 99%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 5%, rgba(0, 0, 0, 0.65) 8%, rgba(0, 0, 0, 0.04) 95%, rgba(0, 0, 0, 0.01) 99%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 5%, rgba(0, 0, 0, 0.65) 8%, rgba(0, 0, 0, 0.04) 95%, rgba(0, 0, 0, 0.01) 99%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  color: #fff;
  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    padding: 5px;  
  }
  &__name {
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    z-index: 3;
    span {
      font-size: 15px;
      color: $colorElem;
    }  
  }
  &__contacts {
    &_timework {
      margin-bottom: 10px;
      span {
        font-size: 15px;        
      }
    }
    &_tel {
      color: $colorElem;
      font-size: 18px;
    }
  }
}

.menu {
  &__body{
    z-index: 2;
  }
  &__list {
    display: flex;
    li{
      position: relative;
      padding: 0px 20px;
      top: 0;
      transition: all 0.3s ease;      
      &:hover {
        top: 2px;        
      }
    }    
  }
  &__link {
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .8s ease;    
    &:hover {
      color:$colorElem;
      margin-top: 10px;
    }
  }
}

.caption {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items:center;
  position: relative;
  width: 100%;
  min-height: 100%;  
  transform: translate3d(0, 63%, 0);
  z-index: 0;  
    &__row {      
      display: flex; 
      width: 100%;
      height: 100%;
      margin: 0 auto;
      flex-direction: column;      
      justify-content: center;
      align-content: center;
      text-align: center;
      margin-top: 4%; 
    }
    &__block {
      display: block;      
      &_first{
        flex: 1 1 auto;
        font-size: 30px;
        span {
          color: $colorElem;
        }
      }
      &_second{
        flex: 1 1 auto;
        margin-top: 3%;
        font-size: 50px;
        letter-spacing: 2px;
        font-weight: 700;
        span {
          color: $colorElem;
        }
      }
    }
}

/////// блок general

.general {
  padding: 80px 0;  
  background-color: $primary-color;
}
.block {
  text-align: center;
  &__text {
    color:$colorText;
    font-size: 18px;
    line-height: 24px;
  }
}
.title {
  color: $colorTitle;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.text {
  color: $colorText;
  font-size: 18px;
  line-height: 24px;
}

///// секция выкуп авто
.sale {
  padding: 50px 0;
  text-align: center;
  background-color: $primary-color;
  &__title {
    margin-bottom: 30px;
  }
  &__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  &__column {
    width: 100%;
    min-height: 200px; 
    background-color:$colorElem;
    padding: 5px;
    margin: 10px;
    border-radius: 40px;
  }
}
.column {
  &__image {
    padding: 10px 0;
  }
  &__title {
    padding: 7px 0;
    color:$colorTitle;
    font-size: 18px;
  }
  &__text {
    padding: 0 5px;
    color:$colorText;
    font-size: 15px;
  }
}
//////////////////// секция порядок выкупа
.order {
  position: relative; 
  width: 100%;
  padding: 50px 0;
  background: linear-gradient(45deg, #000, #6e9fc9),
  url('../img/order/bg.png') 0 0/100% auto no-repeat;
  background-blend-mode: multiply;
  &__title {        
    color: #fff;    
    text-align: center;
    padding: 15px 0;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;    
  }
  &__caption {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:center;
    line-height: 15px;
    min-width: 200px;    
    min-height: 50px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    p {
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  }
  &__column {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 280px;
    margin: 5px;
    &::before {
      content: "";
      display: flex;
      z-index: 2;
      align-items:center;
      justify-content: center;
      position: absolute;      
      align-items: center;
      padding: 3px;
      width: 30px;
      height: 30px;
      top: 17.9%;
      left: 0%;
      color: $colorText;
      font-weight: 700;
      font-size: 16px;
      background-color: $colorElem;
    }
    @for $i from 1 through 4 {
      &:nth-child(#{$i})::before {
        content: $i+"";
      }
    }
  }
  &__image {
    overflow: hidden;
    width: 100%;
    img {
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out;
      &:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 869px) {
  .order {
  padding: 40px 0;
  background: linear-gradient(45deg, #000, #6e9fc9),
  url('../img/order/bg.png') 0 0/100% 100% no-repeat;
  background-blend-mode: multiply;
  &__title {        
    color: #fff;    
    text-align: center;
    padding: 15px 0;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;    
  }
  &__caption {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:center;
    line-height: 15px;
    min-width: 200px;    
    min-height: 50px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    p {
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    text-align: center;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
  }
  &__column {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 280px;
    margin: 10px;
    &::before {
      content: "";
      display: flex;
      z-index: 2;
      align-items:center;
      justify-content: center;
      position: absolute;      
      align-items: center;
      padding: 3px;
      width: 30px;
      height: 30px;
      top: 18%;
      left: 0%;
      color: $colorText;
      font-weight: 700;
      font-size: 16px;
      background-color: $colorElem;
    }
    @for $i from 1 through 4 {
      &:nth-child(#{$i})::before {
        content: $i+"";
      }
    }
  }
}
}
///////////////// секция описания
.description {
  padding: 80px 0;
  background-color: $primary-color;
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }
  &__text {
    text-align: justify;
    p{
      padding: 5px;
    }
  }
  &__list {
    padding-left: 40px;
    margin-bottom: 10px;
    li{
      list-style-type: disc;
    }     
  }
}
///////////////страница с контактами 
.contacts {
  background-color: $primary-color;
  display: flex;
  width: 100%;
  &__block {
    padding: 50px 0px 70px 0px;
  }
  &__title {
    margin: 0px 0px 35px 0px;
  }
  &__text {
    p {
      margin-bottom: 20px;
    }
  }
  &__list {
    margin-bottom: 10px;
    li {      
      padding: 5px 0px;
      a {
        color: $colorText;
      }
    }
    &_media {
      display: flex;
      align-items:center;
      justify-content: center;
      li {
        padding-left: 10px;
        &:first-child{
          padding-left: 0px;
        }
      }
    }
  }
}
/////////////// страница подвала 
.footer {
  width: 100%;
  padding: 40px;
  background-color: #2c2c2c;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    span {
      font-size: 15px;
      color: $colorElem;
    }
  }
  &__media {
    align-items:center;
  }
  &__list {
    display: flex;    
  }
  &__link {
    padding: 5px;
    color: #999;
    display: inline-block;
    margin-right: 7px;
    transition: .4s linear;
    &:hover {
      color: $colorElem;
    }
  }
  &__contacts {
    text-align: right;
  }
  &__tel {
    font-size: 18px;
    margin-bottom: 10px;
    a {
      color: #fff;
    }
  }
  &__mail {
    a{
      font-size: 15px;
      color: $colorElem;
    }    
  }
}

@media (max-width: 1000px) {
  .header {    
    &__name {
      font-size: 20px;
      span {
        font-size: 14px;
      }
    }
    &__contacts {
      &_timework {
        margin-bottom: 5px;
        span {
          font-size: 15px;
        }
      }
      &_tel {
        display: block;
        text-align: right;
        font-size: 15px;
      }
    }
    .menu {
      &__list {
        li {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      &__link {
        font-size: 1.3rem;
      }
    }
    .caption {
      &__row {
        display: flex;
        padding: 0px 20px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin-top: 13%;
      }

      &__block {
        display: block;

        &_first {
          font-size: 25px;
        }

        &_second {
          margin-top: 3%;
          font-size: 40px;
          letter-spacing: 2px;
          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .menu {
    &__body {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: auto;
      top: 0;
      left: 0;
      background-color: #2c2c2c;
      padding: 90px 0px 0px 0px;
      transform: translate3d(0px, -100%, 0px);
      transition: all 0.3s ease 0s;
      &.active {
        transform: translate3d(0px, 0%, 0px);
      }
    }
    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        padding: 0px 0px 45px 0px;
      }
    }
    &__link, a{
      font-size: 25px;
    }
  }
  .header {
    &__row {
      width: 100%;
      display: flex;
      position: fixed;
      height: 50px;
      justify-content: space-between;
      background-color: #2c2c2c;
      z-index: 2;
    }

    &__name {
      margin-left: 10px;
    }

    &__contacts {
      display: none;
      margin-right: 10px;
    }
    .caption {
/*       position: relative;
      transform: translate3d(0, 80%, 0); */
      &__row {
        padding: 0px 20px;
      }

      &__block {
        display: block;

        &_first {
          font-size: 25px;
        }

        &_second {
          margin-top: 3%;
          font-size: 40px;
          letter-spacing: 2px;
          font-weight: 700;
        }
      }
    }
  }
  .sale {
    &__title {
      margin-bottom: 40px;
    }

    &__row {
      flex-wrap: wrap;
      margin-bottom: 10px;
      padding-left: 22%;
      padding-right: 22%;
    }
  }
}
@media (max-width: 550px) {
.footer {
  width: 100%;
  padding: 40px;
  background-color: #2c2c2c;
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    span {
      font-size: 15px;
      color: $colorElem;
    }
  }
  &__media {
    align-items: center;
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
  }
  &__link {
    padding: 5px;
    color: #999;
    display: inline-block;
    margin-right: 7px;
    transition: .4s linear;
    &:hover {
      color: $colorElem;
    }
  }
  &__contacts {
    text-align: right;
  }
  &__tel {
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__mail {
    font-size: 15px;
    color: $colorElem;
  }
}
.header {
  .caption {/* 
    transform: translate3d(0, 50%, 0); */
    &__row {
      padding: 0px 20px;
    }

    &__block {
      display: block;

      &_first {
        font-size: 20px;
      }

      &_second {
        margin-top: 3%;
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: 700;
      }
    }
  }
}
}
@media (max-width: 400px){
.sale {
  &__title {
    margin-bottom: 40px;
  }

  &__row {
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-left: 18%;
    padding-right: 18%;
  }
  &__column {
    border-radius: 30px;    
  }
.column {
    &__text {
      padding-bottom: 5px;
    }
  }
}
.order {
  background: linear-gradient(45deg, #000, #6e9fc9);
  background-blend-mode: multiply;
  &__column {
    &::before {
      content: "";
      top: 17.9%;
    }
  }
}
}
.icon-menu {
  @media (max-width: 768px) {    
      display: block;
      position: absolute;
      top: 18px;
      right: 15px;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 5;
      span {
        position: absolute;
        background-color: $colorElem;
        left: 0;
        width: 100%;
        height: 2px;
        top: 8px;
        transition: all 0.3s ease 0s;
        &:first-child {
          top: 0px;
        }
        &:last-child {
          top: auto;
          bottom: 0px;
        }
      }
      &.active {
        span {
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: 8px;
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: 8px;
          }
        }        
      }
    }
}
